<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test">
       <parameter name="browserType" value="firefox"/>
    <classes>
     <class name="frameworkClasses.TestCaseHP">
     	<methods>
     	<include name="clickProdRev2"></include>
     	</methods>
     	</class>
      <!-- <class name="frameworkClasses.TestCaseHeader"/>
      <class name="frameworkClasses.frameworkClass"/>
      <class name="frameworkClasses.TestCaseFooter"/>
      <class name="frameworkClasses.TestCaseHP"/>
      <class name="frameworkClasses.TestCaseContactPage"/> -->
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
